body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #e93b3b;
  }
  
  h1 {
    background-color: #6ace6d;
    color: white;
    padding: 20px;
    text-align: center;
  }
  